
.tag1 { font-size: 1.0em; text-decoration: underline; }
.tag2 { font-size: 1.2em; text-decoration: underline; }
.tag3 { font-size: 1.4em; text-decoration: underline; }
.tag4 { font-size: 1.6em; text-decoration: underline; }