<%= form_tag ("/home/search"), :method => "get" do %>
    <div class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <%= text_field_tag :tag_list, params[:tag_list] %>
        <%= submit_tag "Suche" %>
      </div>
    </div>
<% end %>